@model TrashCollector.Models.Customer

@{
    ViewBag.Title = "Balance";
}

<h2>@Model.FirstName @Model.LastName </h2>

<div>
    <h4>Balance Due</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
