@model IEnumerable<TrashCollector.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Pickups In Your Area</h2>

@using (Html.BeginForm("Sort", "Employees"))
{
    <div class="form-group">
        @Html.Label("Day of Week", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownList("Days", (SelectList)ViewBag.Name, " ")
            @*@Html.DropDownListFor("Days", (SelectList)ViewBag.Name as IEnumerable<SelectListItem>), ""))*@
            <input type="submit" class="btn btn-default" value="Sort" />
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "Customers", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>
